1) Python data type and typecasting questions for practice:

In [1]:
# What is the data type of the variable x if x = 5 ?
int

int

In [2]:
# Which data type is used to represent a sequence of characters in Python?
str

str

In [4]:
 # True or False: Python has a built-in data type for representing complex numbers.
True

True

In [5]:
# What is the data type of the variable my_list if my_list = [1, 2, 3]?
list

list

In [6]:
# Which data type is used to represent a collection of key-value pairs in Python?
dictionary = {'name': 'John', 'age': 25, 'city': 'New York'}

In [7]:
# Convert the variable x of type float to an integer.
x = 5.1
x_int = int(x)
print(x_int)

5

In [8]:
# Convert the variable x of type int to a string.
x = 12345
x_str = str(x)
print(x_str,type(x_str))

12345 <class 'str'>

In [9]:
# Convert the variable x of type str to a float.
x_float = float(x_str)
print(x_float,type(x_float))

12345.0 <class 'float'>

In [10]:
# Convert the variable my_tuple of type tuple to a list
my_tuple = (1, 2, 3, 'apple', 'banana')
my_list = list(my_tuple)
print(my_list,type(my_list))

[1, 2, 3, 'apple', 'banana'] <class 'list'>

In [11]:
# . Convert the variable my_dict of type dict to a string.
dictionary

{'name': 'John', 'age': 25, 'city': 'New York'}

In [12]:
my_str = str(dictionary)
print(my_str,type(my_str))

{'name': 'John', 'age': 25, 'city': 'New York'} <class 'str'>

In [13]:
 # True or False: Python has a built-in data type for representing dates and times.
True
#Python has a built-in module called datetime

True

In [14]:
 # What is the data type of the variable x if x = (1, 2, 3)?
x = (1,2,3)
type(x)

tuple

In [15]:
 # Which data type is used to represent a sequence of immutable elements in Python?
tuple

tuple

In [16]:
 # True or False: Python has a built-in data type for representing boolean values
True
# Python has a built-in data type for representing boolean values, and it is named bool

True

In [17]:
# What is the data type of the variable my_set if my_set = {1, 2, 3}?
my_set = {1, 2, 3}
type(my_set)

set

In [18]:
 # Convert the variable x of type int to a boolean.
x = 234284
x_bool = bool(x)
print(x_bool,type(x_bool))

True <class 'bool'>

In [19]:
# Convert the variable x of type float to a string
x_float

12345.0

In [20]:
type_str = str(x_float)
print(x_float,type(type_str))

12345.0 <class 'str'>

2) Python indexing questions for practice

In [21]:
# Given a list my_list = [3, 6, 9, 12, 15], print the third item using indexing
my_list = [3, 6, 9, 12, 15]
third_item = my_list[2]
print(third_item)

9

In [24]:
# Given a string my_string = "hello world", print the last character using negative indexing.
my_string = "hello world"
last_item = my_string[-1]
print(last_item)

d

In [35]:
#  Given a list my_list = [2, 4, 6, 8, 10], print the second to fourth items using slicing.
my_list = [2, 4, 6, 8, 10]
print(my_list[1:4])

[4, 6, 8]

In [36]:
#Given a string my_string = "Python is fun!", print the first five characters using slicing.
my_string = "Python is fun!"
print(my_string[:5])

Pytho

In [38]:
#Given a list my_list = ["apple", "banana", "cherry", "date", "elderberry"], print the last item using negative indexing.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[-1])

elderberry

In [40]:
# Given a string my_string = "Hello, how are you?", print the first occurrence of the letter "o" using indexing.
my_string = "Hello, how are you?"
first_o = my_string.index("o")
print(first_o)

4

In [41]:
# Given a list my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9], print every other item using slicing.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(my_list[::2])

[1, 3, 5, 7, 9]

In [51]:
# Given a string my_string = "Python is easy to learn.", print the last five characters using slicing.
my_string = "Python is easy to learn."
print(my_string[-5:])

earn.

In [54]:
# Given a list my_list = [11, 22, 33, 44, 55, 66, 77, 88, 99], print the items from the fourth to the second last using slicing.
my_list = [11, 22, 33, 44, 55, 66, 77, 88, 99]
print(my_list[3:8])

[44, 55, 66, 77, 88]

In [57]:
# Given a string my_string = "This is a long string.", print every third character using slicing.
my_string = "This is a long string."
print(my_string[::3])

Tss nsi.

3) Python list operations or methods questions for practice:

In [63]:
# Create a list my_list with the values [1, 2, 3, 4, 5]. Append the value 6 to the end of the list.
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [68]:
# Given a list my_list = ["apple", "banana", "cherry"], insert the value "orange" at index 1
my_list = ["apple", "banana", "cherry"]
my_list.insert(1,"orange")
print(my_list)

['apple', 'orange', 'banana', 'cherry']

In [72]:
 # Given a list my_list = [10, 20, 30, 40, 50], remove the value 30 from the list
my_list = [10, 20, 30, 40, 50]
my_list.remove(30)
print(my_list)

[10, 20, 40, 50]

In [77]:
#Given a list my_list = ["apple", "banana", "cherry", "orange"], remove the last item from the list.
my_list = ["apple", "banana", "cherry", "orange"]
my_list.pop()
print(my_list)

['apple', 'banana', 'cherry']

In [155]:
# Create a list my_list with the values [1, 2, 3, 4, 5]. Use a method to reverse the order of the items in the list.
my_list = [1, 2, 3, 4, 5]
my_list.sort(reverse=True)
print(my_list)

[5, 4, 3, 2, 1]

In [153]:
 # Given two lists list1 = [1, 2, 3] and list2 = [4, 5, 6], use a method to concatenate them into a single list.
list1 = [1, 2, 3] 
list2 = [4, 5, 6]

new_list = list1 + list2
print(new_list)

[1, 2, 3, 4, 5, 6]

In [145]:
 # Given a list my_list = ["apple", "banana", "cherry", "orange"], use a method to sort the items in alphabetical order.
my_list = ["apple", "banana", "cherry", "orange"]
my_list.sort()
print(my_list)

['apple', 'banana', 'cherry', 'orange']

In [142]:
# Given a list my_list = [10, 20, 30, 40, 50], use a method to find the index of the value 40.
my_list = [10, 20, 30, 40, 50]
my_list.index(40)

3

In [141]:
# Given a list my_list = ["apple", "banana", "cherry", "orange"], use a method to count the number of occurrences of the value "banana".
my_list = ["apple", "banana", "cherry", "orange"]
new_list = my_list.count("banana")
print(new_list)

1

In [136]:
# Given a list my_list = [10, 20, 30, 40, 50], use a method to find the largest value in the list.
my_list = [10, 20, 30, 40, 50]
new_list = max(my_list)
print(new_list)

50

In [133]:
# Given a list my_list = [1, 2, 3, 4, 5], use a method to find the sum of all the values in the list.
my_list = [1, 2, 3, 4, 5]

list_sum = sum(my_list)
print(list_sum)

15

In [127]:
#Given a list my_list = ["apple", "banana", "cherry", "orange"], use a method to create a new list with all the items in uppercase.
my_list = ["apple", "banana", "cherry", "orange"]

new_list_uppercase = [item.upper() for item in my_list]
print(new_list_uppercase)

['APPLE', 'BANANA', 'CHERRY', 'ORANGE']

In [129]:
#we can use this also 
list_uppercase = []
for i in my_list:
    list_uppercase.append(i.upper())

print(list_uppercase)

['APPLE', 'BANANA', 'CHERRY', 'ORANGE']

In [121]:
#Given a list my_list = [1, 2, 3, 4, 5], use a method to create a new list with all the values doubled. 
my_list = [1, 2, 3, 4, 5]

doubled_list = []
for item in my_list:
    doubled_list.append(item * 2)

print(doubled_list)

[2, 4, 6, 8, 10]

In [123]:
#we can use this also 
new_list_doubled = [item * 2 for item in my_list]
print(new_list_doubled)

[2, 4, 6, 8, 10]

In [119]:
# Given a list my_list = ["apple", "banana", "cherry", "orange"], use a method to create a new list with the items in reverse order.
my_list = ["apple", "banana", "cherry", "orange"]
my_list.sort(reverse=True)
print(my_list)

['orange', 'cherry', 'banana', 'apple']

In [117]:
#Given a list my_list = [1, 2, 3, 4, 5], use a method to remove all the values from the list.
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

In [113]:
#Given a list my_list = ["apple", "banana", "cherry", "orange"], use a method to remove the item "banana" from the list.
my_list = ["apple", "banana", "cherry", "orange"]
my_list.remove("banana")
print(my_list)

['apple', 'cherry', 'orange']

In [109]:
# Given a list my_list = [1, 2, 3, 4, 5], use a method to create a new list with only the even values.
my_list = [1, 2, 3, 4, 5]
even_list = [item for item in my_list if item % 2 == 0]
print(even_list)

[2, 4]

In [108]:
#Given two lists list1 = [1, 2, 3] and list2 = [2, 3, 4], use a method to create a new list with only the values that appear in both lists.

list_1 = [1, 2, 3]
list_2 = [2, 3, 4]

common_value = list(set(list_1).intersection(set(list_2)))
print(common_value)

[2, 3]

In [102]:
#Given a list my_list = ["apple", "banana", "cherry", "orange"], use a method to create a new list with only the items that contain the letter "a".
my_list = ["apple", "banana", "cherry", "orange"]
new_list = [item for item in my_list if 'a' in str(item)]
print(new_list)

['apple', 'banana', 'orange']

In [101]:
 # Given a list my_list = [1, 2, 3, 4, 5], use a method to create a new list with the values sorted in descending order.
my_list = [1, 2, 3, 4, 5]
my_list.sort(reverse=True)
print(my_list)

[5, 4, 3, 2, 1]